:root {
  --sys-font-display-display-large-font-size: 60px;
  --sys-font-display-display-large-text-decoration: none;
  --sys-font-display-display-large-font-family: Inter;
  --sys-font-display-display-large-font-weight: 500;
  --sys-font-display-display-large-font-style: normal;
  --sys-font-display-display-large-font-stretch: normal;
  --sys-font-display-display-large-letter-spacing: -4px;
  --sys-font-display-display-large-line-height: 64px;
  --sys-font-display-display-large-paragraph-indent: 0;
  --sys-font-display-display-large-paragraph-spacing: 0;
  --sys-font-display-display-large-text-case: none;
  --sys-font-display-display-meduim-font-size: 48px;
  --sys-font-display-display-meduim-text-decoration: none;
  --sys-font-display-display-meduim-font-family: Inter;
  --sys-font-display-display-meduim-font-weight: 500;
  --sys-font-display-display-meduim-font-style: normal;
  --sys-font-display-display-meduim-font-stretch: normal;
  --sys-font-display-display-meduim-letter-spacing: -2px;
  --sys-font-display-display-meduim-line-height: 52px;
  --sys-font-display-display-meduim-paragraph-indent: 0;
  --sys-font-display-display-meduim-paragraph-spacing: 0;
  --sys-font-display-display-meduim-text-case: none;
  --sys-font-display-display-small-font-size: 36px;
  --sys-font-display-display-small-text-decoration: none;
  --sys-font-display-display-small-font-family: Inter;
  --sys-font-display-display-small-font-weight: 500;
  --sys-font-display-display-small-font-style: normal;
  --sys-font-display-display-small-font-stretch: normal;
  --sys-font-display-display-small-letter-spacing: -2px;
  --sys-font-display-display-small-line-height: 44px;
  --sys-font-display-display-small-paragraph-indent: 0;
  --sys-font-display-display-small-paragraph-spacing: 0;
  --sys-font-display-display-small-text-case: none;
  --sys-font-headline-headline-large-font-size: 32px;
  --sys-font-headline-headline-large-text-decoration: none;
  --sys-font-headline-headline-large-font-family: Inter;
  --sys-font-headline-headline-large-font-weight: 600;
  --sys-font-headline-headline-large-font-style: normal;
  --sys-font-headline-headline-large-font-stretch: normal;
  --sys-font-headline-headline-large-letter-spacing: -1.5px;
  --sys-font-headline-headline-large-line-height: 40px;
  --sys-font-headline-headline-large-paragraph-indent: 0;
  --sys-font-headline-headline-large-paragraph-spacing: 0;
  --sys-font-headline-headline-large-text-case: none;
  --sys-font-headline-headline-medium-font-size: 28px;
  --sys-font-headline-headline-medium-text-decoration: none;
  --sys-font-headline-headline-medium-font-family: Inter;
  --sys-font-headline-headline-medium-font-weight: 600;
  --sys-font-headline-headline-medium-font-style: normal;
  --sys-font-headline-headline-medium-font-stretch: normal;
  --sys-font-headline-headline-medium-letter-spacing: -1.2px;
  --sys-font-headline-headline-medium-line-height: 36px;
  --sys-font-headline-headline-medium-paragraph-indent: 0;
  --sys-font-headline-headline-medium-paragraph-spacing: 0;
  --sys-font-headline-headline-medium-text-case: none;
  --sys-font-headline-headline-small-font-size: 24px;
  --sys-font-headline-headline-small-text-decoration: none;
  --sys-font-headline-headline-small-font-family: Inter;
  --sys-font-headline-headline-small-font-weight: 500;
  --sys-font-headline-headline-small-font-style: normal;
  --sys-font-headline-headline-small-font-stretch: normal;
  --sys-font-headline-headline-small-letter-spacing: -1px;
  --sys-font-headline-headline-small-line-height: 32px;
  --sys-font-headline-headline-small-paragraph-indent: 0;
  --sys-font-headline-headline-small-paragraph-spacing: 0;
  --sys-font-headline-headline-small-text-case: none;
  --sys-font-title-title-large-font-size: 22px;
  --sys-font-title-title-large-text-decoration: none;
  --sys-font-title-title-large-font-family: Inter;
  --sys-font-title-title-large-font-weight: 600;
  --sys-font-title-title-large-font-style: normal;
  --sys-font-title-title-large-font-stretch: normal;
  --sys-font-title-title-large-letter-spacing: -1px;
  --sys-font-title-title-large-line-height: 28px;
  --sys-font-title-title-large-paragraph-indent: 0;
  --sys-font-title-title-large-paragraph-spacing: 0;
  --sys-font-title-title-large-text-case: none;
  --sys-font-title-title-medium-font-size: 16px;
  --sys-font-title-title-medium-text-decoration: none;
  --sys-font-title-title-medium-font-family: Inter;
  --sys-font-title-title-medium-font-weight: 600;
  --sys-font-title-title-medium-font-style: normal;
  --sys-font-title-title-medium-font-stretch: normal;
  --sys-font-title-title-medium-letter-spacing: -1px;
  --sys-font-title-title-medium-line-height: 24px;
  --sys-font-title-title-medium-paragraph-indent: 0;
  --sys-font-title-title-medium-paragraph-spacing: 0;
  --sys-font-title-title-medium-text-case: none;
  --sys-font-title-title-small-font-size: 14px;
  --sys-font-title-title-small-text-decoration: none;
  --sys-font-title-title-small-font-family: Inter;
  --sys-font-title-title-small-font-weight: 600;
  --sys-font-title-title-small-font-style: normal;
  --sys-font-title-title-small-font-stretch: normal;
  --sys-font-title-title-small-letter-spacing: -0.85px;
  --sys-font-title-title-small-line-height: 20px;
  --sys-font-title-title-small-paragraph-indent: 0;
  --sys-font-title-title-small-paragraph-spacing: 0;
  --sys-font-title-title-small-text-case: none;
  --sys-font-body-body-large-font-size: 16px;
  --sys-font-body-body-large-text-decoration: none;
  --sys-font-body-body-large-font-family: Inter;
  --sys-font-body-body-large-font-weight: 500;
  --sys-font-body-body-large-font-style: normal;
  --sys-font-body-body-large-font-stretch: normal;
  --sys-font-body-body-large-letter-spacing: -0.95px;
  --sys-font-body-body-large-line-height: 18px;
  --sys-font-body-body-large-paragraph-indent: 0;
  --sys-font-body-body-large-paragraph-spacing: 0;
  --sys-font-body-body-large-text-case: none;
  --sys-font-body-body-medium-font-size: 14px;
  --sys-font-body-body-medium-text-decoration: none;
  --sys-font-body-body-medium-font-family: Inter;
  --sys-font-body-body-medium-font-weight: 500;
  --sys-font-body-body-medium-font-style: normal;
  --sys-font-body-body-medium-font-stretch: normal;
  --sys-font-body-body-medium-letter-spacing: -0.95px;
  --sys-font-body-body-medium-line-height: 20px;
  --sys-font-body-body-medium-paragraph-indent: 0;
  --sys-font-body-body-medium-paragraph-spacing: 0;
  --sys-font-body-body-medium-text-case: none;
  --sys-font-body-body-small-font-size: 12px;
  --sys-font-body-body-small-text-decoration: none;
  --sys-font-body-body-small-font-family: Inter;
  --sys-font-body-body-small-font-weight: 400;
  --sys-font-body-body-small-font-style: normal;
  --sys-font-body-body-small-font-stretch: normal;
  --sys-font-body-body-small-letter-spacing: -0.8px;
  --sys-font-body-body-small-line-height: 16px;
  --sys-font-body-body-small-paragraph-indent: 0;
  --sys-font-body-body-small-paragraph-spacing: 0;
  --sys-font-body-body-small-text-case: none;
  --sys-font-label-label-large-font-size: 14px;
  --sys-font-label-label-large-text-decoration: none;
  --sys-font-label-label-large-font-family: Inter;
  --sys-font-label-label-large-font-weight: 500;
  --sys-font-label-label-large-font-style: normal;
  --sys-font-label-label-large-font-stretch: normal;
  --sys-font-label-label-large-letter-spacing: -0.85px;
  --sys-font-label-label-large-line-height: 20px;
  --sys-font-label-label-large-paragraph-indent: 0;
  --sys-font-label-label-large-paragraph-spacing: 0;
  --sys-font-label-label-large-text-case: none;
  --sys-font-label-label-medium-font-size: 12px;
  --sys-font-label-label-medium-text-decoration: none;
  --sys-font-label-label-medium-font-family: Inter;
  --sys-font-label-label-medium-font-weight: 500;
  --sys-font-label-label-medium-font-style: normal;
  --sys-font-label-label-medium-font-stretch: normal;
  --sys-font-label-label-medium-letter-spacing: -0.5px;
  --sys-font-label-label-medium-line-height: 16px;
  --sys-font-label-label-medium-paragraph-indent: 0;
  --sys-font-label-label-medium-paragraph-spacing: 0;
  --sys-font-label-label-medium-text-case: none;
  --sys-font-label-label-small-font-size: 14px;
  --sys-font-label-label-small-text-decoration: none;
  --sys-font-label-label-small-font-family: Inter;
  --sys-font-label-label-small-font-weight: 400;
  --sys-font-label-label-small-font-style: normal;
  --sys-font-label-label-small-font-stretch: normal;
  --sys-font-label-label-small-letter-spacing: -0.5px;
  --sys-font-label-label-small-line-height: 16px;
  --sys-font-label-label-small-paragraph-indent: 0;
  --sys-font-label-label-small-paragraph-spacing: 0;
  --sys-font-label-label-small-text-case: none;
  --sys-primitive-color-collection-key-color-group-warning-key-color: #f4e13cff;
  --sys-primitive-color-collection-key-color-group-error-key-color: #e54f4bff;
  --sys-primitive-color-collection-key-color-group-success-key-color: #22d36bff;
  --sys-primitive-color-collection-key-color-group-neutral-key-color: #7f7f7fff;
  --sys-primitive-color-collection-key-color-group-neutral-variant-key-color: #6b6b6bff;
  --sys-primitive-color-collection-key-color-group-tertiary-key-color: #4a4b86ff;
  --sys-primitive-color-collection-key-color-group-accent-key-color: #f29a02ff;
  --sys-primitive-color-collection-key-color-group-secondary-keycolor: #4a67baff;
  --sys-primitive-color-collection-key-color-group-primary-key-color: #0a78d5ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-70: #6db8f8ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-40: #096ec3ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-50: #0b89f4ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-60: #3ca1f6ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-20: #053761ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-10: #021b31ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-90: #cee7fdff;
  --sys-primitive-color-collection-color-pallet-primary-primary-95: #e7f3feff;
  --sys-primitive-color-collection-color-pallet-primary-primary-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-primary-primary-80: #9ed0faff;
  --sys-primitive-color-collection-color-pallet-primary-primary-98: #f5faffff;
  --sys-primitive-color-collection-color-pallet-primary-primary-30: #075292ff;
  --sys-primitive-color-collection-color-pallet-primary-primary-99: #fafdffff;
  --sys-primitive-color-collection-color-pallet-primary-primary-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-99: #fbfcfeff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-98: #f8f9fcff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-70: #90a2d5ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-20: #1c284aff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-10: #030407ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-40: #385094ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-90: #dae0f1ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-80: #b5c1e3ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-60: #6b83c7ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-30: #2a3c6fff;
  --sys-primitive-color-collection-color-pallet-secondary-secconday-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-95: #edeff8ff;
  --sys-primitive-color-collection-color-pallet-secondary-secondary-50: #4664b9ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-99: #fcfcfdff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-98: #f8f8fbff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-95: #f8f8fbff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-90: #e5e5f0ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-50: #5b5ca4ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-10: #191a2eff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-40: #5b5ca4ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-60: #5b5ca4ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-80: #bdbedbff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-70: #9c9dc9ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-30: #363763ff;
  --sys-primitive-color-collection-color-pallet-tertiary-tertiary-20: #2c2c4fff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-99: #fcfcfcff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-98: #fafafaff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-95: #f2f2f2ff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-70: #bababaff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-60: #999999ff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-40: #707070ff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-30: #4c4c4cff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-10: #292929ff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-20: #3d3d3dff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-50: #8c8c8cff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-80: #dbdbdbff;
  --sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-90: #ebebebff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-99: #fcfcfcff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-98: #fafafaff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-90: #ebebebff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-95: #f2f2f2ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-50: #808080ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-80: #dbdbdbff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-70: #b3b3b3ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-60: #a3a3a3ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-40: #666666ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-30: #575757ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-20: #333333ff;
  --sys-primitive-color-collection-color-pallet-neutral-neutral-10: #1f1f1fff;
  --sys-primitive-color-collection-color-pallet-accent-accent-10: #3d2701ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-40: #ca8102ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-accent-accent-99: #fffdfaff;
  --sys-primitive-color-collection-color-pallet-accent-accent-50: #fdaa1bff;
  --sys-primitive-color-collection-color-pallet-accent-accent-80: #fed99aff;
  --sys-primitive-color-collection-color-pallet-accent-accent-70: #fec767ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-90: #fff0d7ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-30: #ac6d01ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-20: #654001ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-95: #fff6e6ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-98: #fffbf5ff;
  --sys-primitive-color-collection-color-pallet-accent-accent-60: #fdb63aff;
  --sys-primitive-color-collection-color-pallet-error-error-80: #f3a6a5ff;
  --sys-primitive-color-collection-color-pallet-error-error-70: #ee7a77ff;
  --sys-primitive-color-collection-color-pallet-error-error-60: #e95753ff;
  --sys-primitive-color-collection-color-pallet-error-error-40: #b51b17ff;
  --sys-primitive-color-collection-color-pallet-error-error-50: #e53935ff;
  --sys-primitive-color-collection-color-pallet-error-error-30: #9a1714ff;
  --sys-primitive-color-collection-color-pallet-error-error-98: #fef6f6ff;
  --sys-primitive-color-collection-color-pallet-error-error-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-error-error-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-error-error-99: #fefbfaff;
  --sys-primitive-color-collection-color-pallet-error-error-10: #360807ff;
  --sys-primitive-color-collection-color-pallet-error-error-20: #630f0dff;
  --sys-primitive-color-collection-color-pallet-error-error-95: #fce9e8ff;
  --sys-primitive-color-collection-color-pallet-error-error-90: #f9d3d2ff;
  --sys-primitive-color-collection-color-pallet-success-success-90: #d3f8e2ff;
  --sys-primitive-color-collection-color-pallet-success-success-70: #7beaa9ff;
  --sys-primitive-color-collection-color-pallet-success-success-10: #0a3d1fff;
  --sys-primitive-color-collection-color-pallet-success-success-50: #39df7eff;
  --sys-primitive-color-collection-color-pallet-success-success-98: #f6fef9ff;
  --sys-primitive-color-collection-color-pallet-success-success-40: #1cb059ff;
  --sys-primitive-color-collection-color-pallet-success-success-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-success-success-30: #158443ff;
  --sys-primitive-color-collection-color-pallet-success-success-95: #e9fbf1ff;
  --sys-primitive-color-collection-color-pallet-success-success-80: #a7f1c6ff;
  --sys-primitive-color-collection-color-pallet-success-success-99: #fbfefcff;
  --sys-primitive-color-collection-color-pallet-success-success-60: #4fe38cff;
  --sys-primitive-color-collection-color-pallet-success-success-20: #106131ff;
  --sys-primitive-color-collection-color-pallet-success-success-0: #000000ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-90: #fdf9d8ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-80: #9b913eff;
  --sys-primitive-color-collection-color-pallet-warning-warning-70: #f7e96eff;
  --sys-primitive-color-collection-color-pallet-warning-warning-95: #fefbe7ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-50: #f3de26ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-40: #c1ae0bff;
  --sys-primitive-color-collection-color-pallet-warning-warning-98: #fefef5ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-20: #615705ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-99: #e5e5e5ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-30: #a49409ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-100: #ffffffff;
  --sys-primitive-color-collection-color-pallet-warning-warning-10: #3a3403ff;
  --sys-primitive-color-collection-color-pallet-warning-warning-60: #f4e13cff;
  --sys-primitive-color-collection-color-pallet-warning-warning-0: #000000ff;
  --sys-color-roles-secondary-roles-secondary-container-color-role: var(--sys-primitive-color-collection-color-pallet-secondary-secondary-90);
  --sys-color-roles-secondary-roles-on-secondary-color-role: var(--sys-primitive-color-collection-color-pallet-secondary-secondary-100);
  --sys-color-roles-secondary-roles-on-secondary-container-color-role: var(--sys-primitive-color-collection-color-pallet-secondary-secondary-30);
  --sys-color-roles-secondary-roles-secondary-color-roles: var(--sys-primitive-color-collection-key-color-group-secondary-keycolor);
  --sys-color-roles-warning-roles-warning-color-role: var(--sys-primitive-color-collection-color-pallet-warning-warning-100);
  --sys-color-roles-warning-roles-warning-container-color-role3: var(--sys-primitive-color-collection-color-pallet-warning-warning-90);
  --sys-color-roles-warning-roles-warnning-color-role: var(--sys-primitive-color-collection-key-color-group-warning-key-color);
  --sys-color-roles-warning-roles-on-warning-container-color-role3lor-4: var(--sys-primitive-color-collection-color-pallet-warning-warning-30);
  --sys-color-roles-success-roles-success-container-color-role3: var(--sys-primitive-color-collection-color-pallet-success-success-90);
  --sys-color-roles-success-roles-on-success-color-role: var(--sys-primitive-color-collection-color-pallet-success-success-100);
  --sys-color-roles-success-roles-success-color-role: var(--sys-primitive-color-collection-key-color-group-success-key-color);
  --sys-color-roles-success-roles-on-success-container-color-role: var(--sys-primitive-color-collection-color-pallet-success-success-30);
  --sys-color-roles-error-roles-error-container-color-role-4: var(--sys-primitive-color-collection-color-pallet-error-error-30);
  --sys-color-roles-error-roles-error-container-color-role: var(--sys-primitive-color-collection-color-pallet-error-error-90);
  --sys-color-roles-error-roles-on-error-color-role: var(--sys-primitive-color-collection-color-pallet-error-error-100);
  --sys-color-roles-error-roles-error-color-role: var(--sys-primitive-color-collection-key-color-group-error-key-color);
  --sys-color-roles-pimary-roles-primary-container-color-role: var(--sys-primitive-color-collection-color-pallet-primary-primary-90);
  --sys-color-roles-pimary-roles-on-primary-color-role: var(--sys-primitive-color-collection-color-pallet-primary-primary-100);
  --sys-color-roles-pimary-roles-on-primary-container-color-role: var(--sys-primitive-color-collection-color-pallet-primary-primary-30);
  --sys-color-roles-pimary-roles-primary-color-role: var(--sys-primitive-color-collection-key-color-group-primary-key-color);
  --sys-color-roles-accent-roles-accent-color-role: var(--sys-primitive-color-collection-key-color-group-accent-key-color);
  --sys-color-roles-accent-roles-accent-container-color-role: var(--sys-primitive-color-collection-color-pallet-accent-accent-90);
  --sys-color-roles-accent-roles-on-accent-color-role: var(--sys-primitive-color-collection-color-pallet-accent-accent-100);
  --sys-color-roles-accent-roles-on-accent-container-color-role3: var(--sys-primitive-color-collection-color-pallet-accent-accent-30);
  --sys-color-roles-neutral-variant-roles-on-neutal-variant-container-color-role: var(--sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-30);
  --sys-color-roles-neutral-variant-roles-neutal-variant-container-color-role: var(--sys-primitive-color-collection-color-pallet-neutral-variant-neutral-variant-90);
  --sys-color-roles-neutral-variant-roles-neutral-varient-color-role: var(--sys-primitive-color-collection-key-color-group-neutral-variant-key-color);
  --sys-color-roles-neutral-variant-roles-on-neutral-varient-color-role: var(--sys-primitive-color-collection-color-pallet-accent-accent-100);
  --sys-color-roles-neutral-roles-neutural-color-role: var(--sys-primitive-color-collection-key-color-group-neutral-key-color);
  --sys-color-roles-neutral-roles-neutral-container-color-role: var(--sys-primitive-color-collection-color-pallet-neutral-neutral-90);
  --sys-color-roles-neutral-roles-on-neutral-container-color-role: var(--sys-primitive-color-collection-color-pallet-neutral-neutral-30);
  --sys-color-roles-neutral-roles-on-neutural-color-role: var(--sys-primitive-color-collection-color-pallet-neutral-neutral-100);
  --sys-color-roles-tertiary-roles-on-tertiary-color-role: var(--sys-primitive-color-collection-color-pallet-tertiary-tertiary-100);
  --sys-color-roles-tertiary-roles-tertiary-contianer-color-role: var(--sys-primitive-color-collection-color-pallet-tertiary-tertiary-90);
  --sys-color-roles-tertiary-roles-on-tertiary-containercolor-role: var(--sys-primitive-color-collection-color-pallet-tertiary-tertiary-30);
  --sys-color-roles-tertiary-roles-tertiary-color-role: var(--sys-primitive-color-collection-key-color-group-tertiary-key-color);
  --sys-color-collection-key-color-group-1-error-key-color: #d13d3dff;
  --sys-color-collection-key-color-group-1-warning-key-color: #e4d447ff;
  --sys-color-collection-key-color-group-1-accent-key-color: #edc888ff;
  --sys-color-collection-key-color-group-1-success-key-color: #3de67bff;
  --sys-color-collection-key-color-group-1-neutral-variant-key-color: #94a3b8ff;
  --sys-color-collection-key-color-group-1-tertiary-key-color: #8b5cf6ff;
  --sys-color-collection-key-color-group-1-neutral-key-color: #545454ff;
  --sys-color-collection-key-color-group-1-secondary-keycolor: #6366f1ff;
  --sys-color-collection-key-color-group-1-primary-key-color: #1d4ed8ff;
  --sys-color-collection-color-pallet-primary-primary-70: #7897edff;
  --sys-color-collection-color-pallet-primary-primary-60: #4b74e7ff;
  --sys-color-collection-color-pallet-primary-primary-50: #3563e4ff;
  --sys-color-collection-color-pallet-primary-primary-98: #f6f8feff;
  --sys-color-collection-color-pallet-primary-primary-40: #1841b4ff;
  --sys-color-collection-color-pallet-primary-primary-30: #123187ff;
  --sys-color-collection-color-pallet-primary-primary-10: #06102dff;
  --sys-color-collection-color-pallet-primary-primary-100: #ffffffff;
  --sys-color-collection-color-pallet-primary-primary-99: #fbfcfeff;
  --sys-color-collection-color-pallet-primary-primary-95: #e9eefcff;
  --sys-color-collection-color-pallet-primary-primary-20: #0c205aff;
  --sys-color-collection-color-pallet-primary-primary-90: #d2dcf9ff;
  --sys-color-collection-color-pallet-primary-primary-80: #a5b9f3ff;
  --sys-color-collection-color-pallet-primary-primary-0: #000000ff;
  --sys-color-collection-secondary-100: #ffffffff;
  --sys-color-collection-secondary-99: #fbfcfeff;
  --sys-color-collection-secondary-98: #f8f9fcff;
  --sys-color-collection-secondary-50: #1519eaff;
  --sys-color-collection-secondary-90: #dae0f1ff;
  --sys-color-collection-secondary-10: #050638ff;
  --sys-color-collection-secondary-70: #90a2d5ff;
  --sys-color-collection-secondary-40: #1114bbff;
  --sys-color-collection-secondary-95: #edeff8ff;
  --sys-color-collection-secondary-80: #b5c1e3ff;
  --sys-color-collection-secondary-20: #1c284aff;
  --sys-color-collection-secondary-60: #6b83c7ff;
  --sys-color-collection-secondary-30: #0d0f8cff;
  --sys-color-collection-secconday-0: #000000ff;
  --sys-typography-display-display-large-font-size: 60px;
  --sys-typography-display-display-large-text-decoration: none;
  --sys-typography-display-display-large-font-family: Inter;
  --sys-typography-display-display-large-font-weight: 500;
  --sys-typography-display-display-large-font-style: normal;
  --sys-typography-display-display-large-font-stretch: normal;
  --sys-typography-display-display-large-letter-spacing: -4px;
  --sys-typography-display-display-large-line-height: 64px;
  --sys-typography-display-display-large-paragraph-indent: 0;
  --sys-typography-display-display-large-paragraph-spacing: 0;
  --sys-typography-display-display-large-text-case: none;
  --sys-typography-display-display-meduim-font-size: 48px;
  --sys-typography-display-display-meduim-text-decoration: none;
  --sys-typography-display-display-meduim-font-family: Inter;
  --sys-typography-display-display-meduim-font-weight: 500;
  --sys-typography-display-display-meduim-font-style: normal;
  --sys-typography-display-display-meduim-font-stretch: normal;
  --sys-typography-display-display-meduim-letter-spacing: -2px;
  --sys-typography-display-display-meduim-line-height: 52px;
  --sys-typography-display-display-meduim-paragraph-indent: 0;
  --sys-typography-display-display-meduim-paragraph-spacing: 0;
  --sys-typography-display-display-meduim-text-case: none;
  --sys-typography-display-display-small-font-size: 36px;
  --sys-typography-display-display-small-text-decoration: none;
  --sys-typography-display-display-small-font-family: Inter;
  --sys-typography-display-display-small-font-weight: 500;
  --sys-typography-display-display-small-font-style: normal;
  --sys-typography-display-display-small-font-stretch: normal;
  --sys-typography-display-display-small-letter-spacing: -2px;
  --sys-typography-display-display-small-line-height: 44px;
  --sys-typography-display-display-small-paragraph-indent: 0;
  --sys-typography-display-display-small-paragraph-spacing: 0;
  --sys-typography-display-display-small-text-case: none;
  --sys-typography-headline-headline-large-font-size: 32px;
  --sys-typography-headline-headline-large-text-decoration: none;
  --sys-typography-headline-headline-large-font-family: Inter;
  --sys-typography-headline-headline-large-font-weight: 600;
  --sys-typography-headline-headline-large-font-style: normal;
  --sys-typography-headline-headline-large-font-stretch: normal;
  --sys-typography-headline-headline-large-letter-spacing: -1.5px;
  --sys-typography-headline-headline-large-line-height: 40px;
  --sys-typography-headline-headline-large-paragraph-indent: 0;
  --sys-typography-headline-headline-large-paragraph-spacing: 0;
  --sys-typography-headline-headline-large-text-case: none;
  --sys-typography-headline-headline-medium-font-size: 28px;
  --sys-typography-headline-headline-medium-text-decoration: none;
  --sys-typography-headline-headline-medium-font-family: Inter;
  --sys-typography-headline-headline-medium-font-weight: 600;
  --sys-typography-headline-headline-medium-font-style: normal;
  --sys-typography-headline-headline-medium-font-stretch: normal;
  --sys-typography-headline-headline-medium-letter-spacing: -1.2px;
  --sys-typography-headline-headline-medium-line-height: 36px;
  --sys-typography-headline-headline-medium-paragraph-indent: 0;
  --sys-typography-headline-headline-medium-paragraph-spacing: 0;
  --sys-typography-headline-headline-medium-text-case: none;
  --sys-typography-headline-headline-small-font-size: 24px;
  --sys-typography-headline-headline-small-text-decoration: none;
  --sys-typography-headline-headline-small-font-family: Inter;
  --sys-typography-headline-headline-small-font-weight: 500;
  --sys-typography-headline-headline-small-font-style: normal;
  --sys-typography-headline-headline-small-font-stretch: normal;
  --sys-typography-headline-headline-small-letter-spacing: -1px;
  --sys-typography-headline-headline-small-line-height: 32px;
  --sys-typography-headline-headline-small-paragraph-indent: 0;
  --sys-typography-headline-headline-small-paragraph-spacing: 0;
  --sys-typography-headline-headline-small-text-case: none;
  --sys-typography-title-title-large-font-size: 22px;
  --sys-typography-title-title-large-text-decoration: none;
  --sys-typography-title-title-large-font-family: Inter;
  --sys-typography-title-title-large-font-weight: 600;
  --sys-typography-title-title-large-font-style: normal;
  --sys-typography-title-title-large-font-stretch: normal;
  --sys-typography-title-title-large-letter-spacing: -1px;
  --sys-typography-title-title-large-line-height: 28px;
  --sys-typography-title-title-large-paragraph-indent: 0;
  --sys-typography-title-title-large-paragraph-spacing: 0;
  --sys-typography-title-title-large-text-case: none;
  --sys-typography-title-title-medium-font-size: 16px;
  --sys-typography-title-title-medium-text-decoration: none;
  --sys-typography-title-title-medium-font-family: Inter;
  --sys-typography-title-title-medium-font-weight: 600;
  --sys-typography-title-title-medium-font-style: normal;
  --sys-typography-title-title-medium-font-stretch: normal;
  --sys-typography-title-title-medium-letter-spacing: -1px;
  --sys-typography-title-title-medium-line-height: 24px;
  --sys-typography-title-title-medium-paragraph-indent: 0;
  --sys-typography-title-title-medium-paragraph-spacing: 0;
  --sys-typography-title-title-medium-text-case: none;
  --sys-typography-title-title-small-font-size: 14px;
  --sys-typography-title-title-small-text-decoration: none;
  --sys-typography-title-title-small-font-family: Inter;
  --sys-typography-title-title-small-font-weight: 600;
  --sys-typography-title-title-small-font-style: normal;
  --sys-typography-title-title-small-font-stretch: normal;
  --sys-typography-title-title-small-letter-spacing: -0.85px;
  --sys-typography-title-title-small-line-height: 20px;
  --sys-typography-title-title-small-paragraph-indent: 0;
  --sys-typography-title-title-small-paragraph-spacing: 0;
  --sys-typography-title-title-small-text-case: none;
  --sys-typography-body-body-large-font-size: 16px;
  --sys-typography-body-body-large-text-decoration: none;
  --sys-typography-body-body-large-font-family: Inter;
  --sys-typography-body-body-large-font-weight: 500;
  --sys-typography-body-body-large-font-style: normal;
  --sys-typography-body-body-large-font-stretch: normal;
  --sys-typography-body-body-large-letter-spacing: -0.95px;
  --sys-typography-body-body-large-line-height: 18px;
  --sys-typography-body-body-large-paragraph-indent: 0;
  --sys-typography-body-body-large-paragraph-spacing: 0;
  --sys-typography-body-body-large-text-case: none;
  --sys-typography-body-body-medium-font-size: 14px;
  --sys-typography-body-body-medium-text-decoration: none;
  --sys-typography-body-body-medium-font-family: Inter;
  --sys-typography-body-body-medium-font-weight: 500;
  --sys-typography-body-body-medium-font-style: normal;
  --sys-typography-body-body-medium-font-stretch: normal;
  --sys-typography-body-body-medium-letter-spacing: -0.95px;
  --sys-typography-body-body-medium-line-height: 20px;
  --sys-typography-body-body-medium-paragraph-indent: 0;
  --sys-typography-body-body-medium-paragraph-spacing: 0;
  --sys-typography-body-body-medium-text-case: none;
  --sys-typography-body-body-small-font-size: 12px;
  --sys-typography-body-body-small-text-decoration: none;
  --sys-typography-body-body-small-font-family: Inter;
  --sys-typography-body-body-small-font-weight: 400;
  --sys-typography-body-body-small-font-style: normal;
  --sys-typography-body-body-small-font-stretch: normal;
  --sys-typography-body-body-small-letter-spacing: -0.8px;
  --sys-typography-body-body-small-line-height: 16px;
  --sys-typography-body-body-small-paragraph-indent: 0;
  --sys-typography-body-body-small-paragraph-spacing: 0;
  --sys-typography-body-body-small-text-case: none;
  --sys-typography-label-label-large-font-size: 14px;
  --sys-typography-label-label-large-text-decoration: none;
  --sys-typography-label-label-large-font-family: Inter;
  --sys-typography-label-label-large-font-weight: 500;
  --sys-typography-label-label-large-font-style: normal;
  --sys-typography-label-label-large-font-stretch: normal;
  --sys-typography-label-label-large-letter-spacing: -0.85px;
  --sys-typography-label-label-large-line-height: 20px;
  --sys-typography-label-label-large-paragraph-indent: 0;
  --sys-typography-label-label-large-paragraph-spacing: 0;
  --sys-typography-label-label-large-text-case: none;
  --sys-typography-label-label-medium-font-size: 12px;
  --sys-typography-label-label-medium-text-decoration: none;
  --sys-typography-label-label-medium-font-family: Inter;
  --sys-typography-label-label-medium-font-weight: 500;
  --sys-typography-label-label-medium-font-style: normal;
  --sys-typography-label-label-medium-font-stretch: normal;
  --sys-typography-label-label-medium-letter-spacing: -0.5px;
  --sys-typography-label-label-medium-line-height: 16px;
  --sys-typography-label-label-medium-paragraph-indent: 0;
  --sys-typography-label-label-medium-paragraph-spacing: 0;
  --sys-typography-label-label-medium-text-case: none;
  --sys-typography-label-label-small-font-size: 14px;
  --sys-typography-label-label-small-text-decoration: none;
  --sys-typography-label-label-small-font-family: Inter;
  --sys-typography-label-label-small-font-weight: 400;
  --sys-typography-label-label-small-font-style: normal;
  --sys-typography-label-label-small-font-stretch: normal;
  --sys-typography-label-label-small-letter-spacing: -0.5px;
  --sys-typography-label-label-small-line-height: 16px;
  --sys-typography-label-label-small-paragraph-indent: 0;
  --sys-typography-label-label-small-paragraph-spacing: 0;
  --sys-typography-label-label-small-text-case: none;
}
